In [11]:
import requests
import os
import shutil
import time
import random
from bs4 import BeautifulSoup

In [12]:
years = list(range(2003,2024))

In [13]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [14]:
for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    if data.status_code == 200:
        # Save the data to a file
        with open("mvp/{}.html".format(year), "w+", encoding="utf-8") as f:
            f.write(data.text)
    else:
        print(f"Request for year {year} failed with status code {data.status_code}")
    sleep_duration = random.uniform(10, 15)
    time.sleep(sleep_duration)

In [15]:
with open("mvp/2003.html", "r", encoding="utf-8") as f:
    page = f.read()

In [16]:
soup = BeautifulSoup(page,"html.parser")

In [17]:
soup.find('tr', class_="over_header").decompose()

In [18]:
mvp_table = soup.find(id="mvp")

In [19]:
import pandas as pd
from io import StringIO

In [20]:
html_content = str(mvp_table)
html_io = StringIO(html_content)

# Use pd.read_html() with the StringIO object
mvp_2003 = pd.read_html(html_io)[0]
mvp_2003

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Tim Duncan,26,SAS,60.0,962.0,1190,0.808,81,39.3,23.3,12.9,3.9,0.7,2.9,0.513,0.273,0.710,16.5,0.248
1,2,Kevin Garnett,26,MIN,43.0,871.0,1190,0.732,82,40.5,23.0,13.4,6.0,1.4,1.6,0.502,0.282,0.751,15.6,0.225
2,3,Kobe Bryant,24,LAL,8.0,496.0,1190,0.417,82,41.5,30.0,6.9,5.9,2.2,0.8,0.451,0.383,0.843,14.9,0.210
3,4,Tracy McGrady,23,ORL,4.0,427.0,1190,0.359,75,39.4,32.1,6.5,5.5,1.7,0.8,0.457,0.386,0.793,16.1,0.262
4,5,Shaquille O'Neal,30,LAL,3.0,126.0,1190,0.106,67,37.8,27.5,11.1,3.1,0.6,2.4,0.574,NaN,0.622,13.2,0.250
5,6,Allen Iverson,27,PHI,0.0,83.0,1190,0.070,82,42.5,27.6,4.2,5.5,2.7,0.2,0.414,0.277,0.774,9.2,0.127
6,7,Dirk Nowitzki,24,DAL,0.0,43.0,1190,0.036,80,39.0,25.1,9.9,3.0,1.4,1.0,0.463,0.379,0.881,16.1,0.249
7,8,Ben Wallace,28,DET,1.0,33.0,1190,0.028,73,39.4,6.9,15.4,1.6,1.4,3.2,0.481,0.167,0.450,10.6,0.176
8,9,Jason Kidd,29,NJN,0.0,31.0,1190,0.026,80,37.4,18.7,6.3,8.9,2.2,0.3,0.414,0.341,0.841,11.3,0.182
9,10,Chris Webber,29,SAC,0.0,19.0,1190,0.016,67,39.1,23.0,10.5,5.4,1.6,1.3,0.461,0.238,0.607,6.9,0.127
10,11T,Jamal Mashburn,30,NOH,0.0,1.0,1190,0.001,82,40.5,21.6,6.1,5.6,1.0,0.2,0.422,0.389,0.848,9.0,0.130
11,11T,Steve Nash,28,DAL,0.0,1.0,1190,0.001,82,33.1,17.7,2.9,7.3,1.0,0.1,0.465,0.413,0.909,11.6,0.206
12,11T,Paul Pierce,25,BOS,0.0,1.0,1190,0.001,79,39.2,25.9,7.3,4.4,1.8,0.8,0.416,0.302,0.802,10.1,0.157

In [21]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year), "r", encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page,"html.parser")
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find(id="mvp")
    html_content = str(mvp_table)
    html_io = StringIO(html_content)
    
    # Use pd.read_html() with the StringIO object
    mvp = pd.read_html(html_io)[0]
    mvp["Year"] = year

    dfs.append(mvp)

In [22]:
mvps = pd.concat(dfs)

In [23]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Tim Duncan,26,SAS,60.0,962.0,1190,0.808,81,39.3,...,12.9,3.9,0.7,2.9,0.513,0.273,0.710,16.5,0.248,2003
1,2,Kevin Garnett,26,MIN,43.0,871.0,1190,0.732,82,40.5,...,13.4,6.0,1.4,1.6,0.502,0.282,0.751,15.6,0.225,2003
2,3,Kobe Bryant,24,LAL,8.0,496.0,1190,0.417,82,41.5,...,6.9,5.9,2.2,0.8,0.451,0.383,0.843,14.9,0.210,2003
3,4,Tracy McGrady,23,ORL,4.0,427.0,1190,0.359,75,39.4,...,6.5,5.5,1.7,0.8,0.457,0.386,0.793,16.1,0.262,2003
4,5,Shaquille O'Neal,30,LAL,3.0,126.0,1190,0.106,67,37.8,...,11.1,3.1,0.6,2.4,0.574,NaN,0.622,13.2,0.250,2003

In [24]:
mvps.to_csv("mvps.csv")

In [25]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

In [26]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

In [27]:
driver = webdriver.Chrome(executable_path=r"C:\Users\Love\Downloads\chromedriver-win64\chromedriver")

In [29]:
year = 2003
url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,10000)")
time.sleep(2)

html = driver.page_source

In [31]:
with open("player/{}.html".format(year), "w+", encoding="utf-8") as f:
            f.write(html)

In [33]:
for year in years:
    url = player_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(5)

    html = driver.page_source
    with open("player/{}.html".format(year), "w+", encoding="utf-8") as f:
            f.write(html)

In [38]:
df = []
for year in years:
    with open("player/{}.html".format(year), "r", encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page,"html.parser")
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find(id="per_game_stats")
    html_contents = str(player_table)
    html_ioe = StringIO(html_contents)
    
    # Use pd.read_html() with the StringIO object
    player = pd.read_html(html_ioe)[0]
    player["Year"] = year

    df.append(player)

In [41]:
players = pd.concat(df)
players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Tariq Abdul-Wahad,SG,28,DAL,14,0,14.6,1.9,4.1,...,1.0,1.9,2.9,1.5,0.4,0.2,0.5,1.9,4.1,2003
1,2,Shareef Abdur-Rahim,PF,26,ATL,81,81,38.1,7.0,14.6,...,2.2,6.2,8.4,3.0,1.1,0.5,2.6,3.0,19.9,2003
2,3,Courtney Alexander,PG,25,NOH,66,7,20.6,2.9,7.7,...,0.6,1.2,1.8,1.2,0.5,0.1,1.0,1.9,7.9,2003
3,4,Malik Allen,PF,24,MIA,80,73,29.0,4.2,9.9,...,1.7,3.6,5.3,0.7,0.5,1.0,1.6,2.9,9.6,2003
4,5,Ray Allen*,SG,27,TOT,76,75,37.9,7.9,17.9,...,1.2,3.8,5.0,4.4,1.4,0.2,2.6,2.9,22.5,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,535,Thaddeus Young,PF,34,TOR,54,9,14.7,2.0,3.7,...,1.3,1.8,3.1,1.4,1.0,0.1,0.8,1.6,4.4,2023
700,536,Trae Young,PG,24,ATL,73,73,34.8,8.2,19.0,...,0.8,2.2,3.0,10.2,1.1,0.1,4.1,1.4,26.2,2023
701,537,Omer Yurtseven,C,24,MIA,9,0,9.2,1.8,3.0,...,0.9,1.7,2.6,0.2,0.2,0.2,0.4,1.8,4.4,2023
702,538,Cody Zeller,C,30,MIA,15,2,14.5,2.5,3.9,...,1.7,2.6,4.3,0.7,0.2,0.3,0.9,2.2,6.5,2023
703,539,Ivica Zubac,C,25,LAC,76,76,28.6,4.3,6.8,...,3.1,6.8,9.9,1.0,0.4,1.3,1.5,2.9,10.8,2023

In [42]:
players.to_csv("players.csv")

In [45]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [50]:
for year in years:
    url = team_stats_url.format(year)
    data = requests.get(url)

    with open("team/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text)
        print(f"Saved data for {year}")
    
    time.sleep(10)

Saved data for 2003
Saved data for 2004
Saved data for 2005
Saved data for 2006
Saved data for 2007
Saved data for 2008
Saved data for 2009
Saved data for 2010
Saved data for 2011
Saved data for 2012
Saved data for 2013
Saved data for 2014
Saved data for 2015
Saved data for 2016
Saved data for 2017
Saved data for 2018
Saved data for 2019
Saved data for 2020
Saved data for 2021
Saved data for 2022
Saved data for 2023

In [63]:
dfs = []

for year in years:
    with open("team/{}.html".format(year), "r", encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    
    # Process Eastern Conference data
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_html_contents = str(e_table)
    e_html_io = StringIO(e_html_contents)
    e_df = pd.read_html(e_html_io)[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    # Process Western Conference data
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_html_contents = str(w_table)
    w_html_io = StringIO(w_html_contents)
    w_df = pd.read_html(w_html_io)[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)

In [64]:
teams = pd.concat(dfs)

In [65]:
teams

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
0   49  33  .598     —   95.4   90.1   4.42  2003       New Jersey Nets*
1   48  34  .585   1.0   96.8   94.5   1.76  2003    Philadelphia 76ers*
2   44  38  .537   5.0   92.7   93.1  -0.75  2003        Boston Celtics*
3   42  40  .512   7.0   98.5   98.4  -0.39  2003         Orlando Magic*
4   37  45  .451  12.0   91.5   92.5  -1.47  2003     Washington Wizards
..  ..  ..   ...   ...    ...    ...    ...   ...                    ...
13  51  31  .622     —  116.9  113.0   3.60  2023     Memphis Grizzlies*
14  42  40  .512   9.0  114.4  112.5   1.63  2023  New Orleans Pelicans*
15  38  44  .463  13.0  114.2  114.1  -0.14  2023       Dallas Mavericks
16  22  60  .268  29.0  110.7  118.6  -7.62  2023        Houston Rockets
17  22  60  .268  29.0  113.0  123.1  -9.82  2023      San Antonio Spurs

[729 rows x 9 columns]

In [66]:
teams.to_csv("teams.csv")