In [1]:
import pandas as pd

In [2]:
mvps = pd.read_csv("mvps.csv")

In [3]:
mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Tim Duncan,26,SAS,60.0,962.0,1190,0.808,81,...,12.9,3.9,0.7,2.9,0.513,0.273,0.710,16.5,0.248,2003
1,1,2,Kevin Garnett,26,MIN,43.0,871.0,1190,0.732,82,...,13.4,6.0,1.4,1.6,0.502,0.282,0.751,15.6,0.225,2003
2,2,3,Kobe Bryant,24,LAL,8.0,496.0,1190,0.417,82,...,6.9,5.9,2.2,0.8,0.451,0.383,0.843,14.9,0.210,2003
3,3,4,Tracy McGrady,23,ORL,4.0,427.0,1190,0.359,75,...,6.5,5.5,1.7,0.8,0.457,0.386,0.793,16.1,0.262,2003
4,4,5,Shaquille O'Neal,30,LAL,3.0,126.0,1190,0.106,67,...,11.1,3.1,0.6,2.4,0.574,NaN,0.622,13.2,0.250,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,8,9,Stephen Curry,34,GSW,0.0,5.0,1000,0.005,56,...,6.1,6.3,0.9,0.4,0.493,0.427,0.915,7.8,0.192,2023
284,9,10,Jimmy Butler,33,MIA,0.0,3.0,1000,0.003,64,...,5.9,5.3,1.8,0.3,0.539,0.350,0.850,12.3,0.277,2023
285,10,11,De'Aaron Fox,25,SAC,0.0,2.0,1000,0.002,73,...,4.2,6.1,1.1,0.3,0.512,0.324,0.780,7.4,0.146,2023
286,11,12T,Jalen Brunson,26,NYK,0.0,1.0,1000,0.001,68,...,3.5,6.2,0.9,0.2,0.491,0.416,0.829,8.7,0.175,2023
287,12,12T,Ja Morant,23,MEM,0.0,1.0,1000,0.001,61,...,5.9,8.1,1.1,0.3,0.466,0.307,0.748,6.0,0.148,2023

In [4]:
mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

In [5]:
mvps

               Player  Year  Pts Won  Pts Max  Share
0          Tim Duncan  2003    962.0     1190  0.808
1       Kevin Garnett  2003    871.0     1190  0.732
2         Kobe Bryant  2003    496.0     1190  0.417
3       Tracy McGrady  2003    427.0     1190  0.359
4    Shaquille O'Neal  2003    126.0     1190  0.106
..                ...   ...      ...      ...    ...
283     Stephen Curry  2023      5.0     1000  0.005
284      Jimmy Butler  2023      3.0     1000  0.003
285      De'Aaron Fox  2023      2.0     1000  0.002
286     Jalen Brunson  2023      1.0     1000  0.001
287         Ja Morant  2023      1.0     1000  0.001

[288 rows x 5 columns]

In [6]:
players = pd.read_csv("players.csv")

In [7]:
players

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,0,1,Tariq Abdul-Wahad,SG,28,DAL,14,0,14.6,1.9,...,1.0,1.9,2.9,1.5,0.4,0.2,0.5,1.9,4.1,2003
1,1,2,Shareef Abdur-Rahim,PF,26,ATL,81,81,38.1,7.0,...,2.2,6.2,8.4,3.0,1.1,0.5,2.6,3.0,19.9,2003
2,2,3,Courtney Alexander,PG,25,NOH,66,7,20.6,2.9,...,0.6,1.2,1.8,1.2,0.5,0.1,1.0,1.9,7.9,2003
3,3,4,Malik Allen,PF,24,MIA,80,73,29.0,4.2,...,1.7,3.6,5.3,0.7,0.5,1.0,1.6,2.9,9.6,2003
4,4,5,Ray Allen*,SG,27,TOT,76,75,37.9,7.9,...,1.2,3.8,5.0,4.4,1.4,0.2,2.6,2.9,22.5,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13363,699,535,Thaddeus Young,PF,34,TOR,54,9,14.7,2.0,...,1.3,1.8,3.1,1.4,1.0,0.1,0.8,1.6,4.4,2023
13364,700,536,Trae Young,PG,24,ATL,73,73,34.8,8.2,...,0.8,2.2,3.0,10.2,1.1,0.1,4.1,1.4,26.2,2023
13365,701,537,Omer Yurtseven,C,24,MIA,9,0,9.2,1.8,...,0.9,1.7,2.6,0.2,0.2,0.2,0.4,1.8,4.4,2023
13366,702,538,Cody Zeller,C,30,MIA,15,2,14.5,2.5,...,1.7,2.6,4.3,0.7,0.2,0.3,0.9,2.2,6.5,2023
13367,703,539,Ivica Zubac,C,25,LAC,76,76,28.6,4.3,...,3.1,6.8,9.9,1.0,0.4,1.3,1.5,2.9,10.8,2023

In [8]:
del players["Unnamed: 0"]

In [9]:
del players["Rk"]

In [10]:
players["Player"] = players["Player"].str.replace("*","", regex=False)

In [11]:
players.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Tariq Abdul-Wahad,SG,28,DAL,14,0,14.6,1.9,4.1,.466,...,1.0,1.9,2.9,1.5,0.4,0.2,0.5,1.9,4.1,2003
1,Shareef Abdur-Rahim,PF,26,ATL,81,81,38.1,7.0,14.6,.478,...,2.2,6.2,8.4,3.0,1.1,0.5,2.6,3.0,19.9,2003
2,Courtney Alexander,PG,25,NOH,66,7,20.6,2.9,7.7,.382,...,0.6,1.2,1.8,1.2,0.5,0.1,1.0,1.9,7.9,2003
3,Malik Allen,PF,24,MIA,80,73,29.0,4.2,9.9,.424,...,1.7,3.6,5.3,0.7,0.5,1.0,1.6,2.9,9.6,2003
4,Ray Allen,SG,27,TOT,76,75,37.9,7.9,17.9,.439,...,1.2,3.8,5.0,4.4,1.4,0.2,2.6,2.9,22.5,2003

In [12]:
players[players["Player"] == "Kenny Anderson"]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
11,Kenny Anderson,PG,32,TOT,61,2,18.6,2.7,6.3,.427,...,0.5,1.7,2.2,3.2,1.0,0.1,1.2,1.7,6.1,2003
12,Kenny Anderson,PG,32,SEA,38,1,18.1,2.7,6.1,.440,...,0.4,1.8,2.3,3.2,1.1,0.0,0.9,1.7,6.1,2003
13,Kenny Anderson,PG,32,NOH,23,1,19.4,2.7,6.5,.407,...,0.6,1.3,2.0,3.3,0.8,0.2,1.8,1.9,6.0,2003
511,Kenny Anderson,PG,33,IND,44,31,20.6,2.6,5.8,.441,...,0.4,1.4,1.8,2.8,0.6,0.1,1.1,1.7,6.0,2004
1119,Kenny Anderson,PG,34,TOT,43,20,17.3,2.0,4.7,.423,...,0.6,1.5,2.0,2.4,0.8,0.0,1.1,2.0,4.7,2005
1120,Kenny Anderson,PG,34,ATL,39,20,18.4,2.1,4.9,.426,...,0.6,1.5,2.1,2.5,0.8,0.0,1.2,2.1,5.0,2005
1121,Kenny Anderson,PG,34,LAC,4,0,6.5,1.0,2.8,.364,...,0.3,1.0,1.3,1.3,0.0,0.0,0.8,1.5,2.0,2005

In [13]:
def single_team(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df["Tm"]=="TOT"]
        row["Tm"] = df.iloc[-1,:]["Tm"]
        return row

players = players.groupby(["Player", "Year"]).apply(single_team)

In [16]:
players

                                     Player Pos Age   Tm   G  GS    MP   FG  \
Player          Year
A.J. Green      2023 12894       A.J. Green  SG  23  MIL  35   1   9.9  1.5
A.J. Guyton     2003 172        A.J. Guyton  PG  24  GSW   2   0   4.5  0.0
A.J. Hammons    2017 8593      A.J. Hammons   C  24  DAL  22   0   7.4  0.8
A.J. Lawson     2023 13038      A.J. Lawson  SG  22  DAL  15   0   7.2  1.5
A.J. Price      2010 4506        A.J. Price  PG  23  IND  56   2  15.4  2.6
...                                     ...  ..  ..  ...  ..  ..   ...  ...
Žarko Čabarkapa 2006 1808   Žarko Čabarkapa  PF  24  GSW  61   0   8.3  1.1
Željko Rebrača  2003 374     Željko Rebrača   C  30  DET  30  12  16.3  2.7
                2004 955     Željko Rebrača   C  31  ATL  24   2  11.4  1.4
                2005 1555    Željko Rebrača   C  32  LAC  58   2  16.0  2.3
                2006 2149    Željko Rebrača   C  33  LAC  29   2  14.2  1.8

                            FGA   FG%  ...  ORB  DRB  TRB  AST  STL  BLK  TOV  \
Player          Year                   ...
A.J. Green      2023 12894  3.6  .424  ...  0.2  1.1  1.3  0.6  0.2  0.0  0.3
A.J. Guyton     2003 172    2.0  .000  ...  0.0  0.0  0.0  1.0  0.5  0.0  0.5
A.J. Hammons    2017 8593   1.9  .405  ...  0.4  1.3  1.6  0.2  0.0  0.6  0.5
A.J. Lawson     2023 13038  2.9  .500  ...  0.4  1.0  1.4  0.1  0.1  0.0  0.2
A.J. Price      2010 4506   6.3  .410  ...  0.2  1.4  1.6  1.9  0.6  0.1  1.1
...                         ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
Žarko Čabarkapa 2006 1808   2.9  .385  ...  0.6  1.2  1.8  0.3  0.2  0.1  0.6
Željko Rebrača  2003 374    4.8  .552  ...  0.9  2.2  3.1  0.3  0.2  0.6  1.0
                2004 955    3.2  .442  ...  1.0  1.5  2.4  0.3  0.2  0.5  0.7
                2005 1555   4.0  .568  ...  0.8  2.3  3.2  0.4  0.2  0.7  0.8
                2006 2149   3.3  .542  ...  0.4  1.8  2.2  0.3  0.2  0.7  0.8

                             PF  PTS  Year
Player          Year
A.J. Green      2023 12894  0.9  4.4  2023
A.J. Guyton     2003 172    0.0  0.0  2003
A.J. Hammons    2017 8593   1.0  2.2  2017
A.J. Lawson     2023 13038  0.7  3.7  2023
A.J. Price      2010 4506   0.9  7.3  2010
...                         ...  ...   ...
Žarko Čabarkapa 2006 1808   1.4  3.3  2006
Željko Rebrača  2003 374    2.6  6.6  2003
                2004 955    2.2  3.8  2004
                2005 1555   2.2  5.8  2005
                2006 2149   2.0  4.7  2006

[10199 rows x 30 columns]

In [17]:
players.index = players.index.droplevel()

In [18]:
players.index = players.index.droplevel()

In [19]:
players.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
12894,A.J. Green,SG,23,MIL,35,1,9.9,1.5,3.6,.424,...,0.2,1.1,1.3,0.6,0.2,0.0,0.3,0.9,4.4,2023
172,A.J. Guyton,PG,24,GSW,2,0,4.5,0.0,2.0,.000,...,0.0,0.0,0.0,1.0,0.5,0.0,0.5,0.0,0.0,2003
8593,A.J. Hammons,C,24,DAL,22,0,7.4,0.8,1.9,.405,...,0.4,1.3,1.6,0.2,0.0,0.6,0.5,1.0,2.2,2017
13038,A.J. Lawson,SG,22,DAL,15,0,7.2,1.5,2.9,.500,...,0.4,1.0,1.4,0.1,0.1,0.0,0.2,0.7,3.7,2023
4506,A.J. Price,PG,23,IND,56,2,15.4,2.6,6.3,.410,...,0.2,1.4,1.6,1.9,0.6,0.1,1.1,0.9,7.3,2010

In [20]:
combined = players.merge(mvps, how="outer", on=["Player", "Year"])
combined[combined["Pts Won"] > 0]

NameError: name 'combined' is not defined